<div class='container'>
    <h1>Test Page</h1>
    <input id='inputText' class='form-control'></input>
    <br>
    <button id='getDataBtn' class='btn btn-default'>Get Data</button>
    <div id='result'></div>
</div>

